div.disclaimer
  div.alert.col-sm-12
    p 
      span.alert__icon
      | The Anti-Epileptic Drug Search tool uses data obtained from OpenFDA. OpenFDA is a beta research project and not for clinical use.

div(ng-include='"components/navbar/navbar.html"')

div.jumbotron
  div.container.search__group
    h1.search__title Drug Database Search
    form.search-form.input-group.input-group-lg(no-validate)
      label.sr-only(for='search') Search
      input#search.search__field.form-control(type='text', sf-typeahead, datasets='pharmaNames', options='pharmaOptions', ng-model='brandname')
      span.input-group-btn
        button.search__button.btn.btn-default(type='button',
        ng-click='search(brandname);startSpin()')
          span.sr-only Search Database
          span.glyphicon.glyphicon-search(aria-hidden='true')
  div
    span(us-spinner='', spinner-key='spinner-1')

.container
  .row
    .col-md-8
      div.charts.results
        div.chart__title {{ brandname | titleCase }} Serious Reactions

        nvd3-discrete-bar-chart#exampleId(data='adverseReactions',
          width='850', height='500', showxaxis='true', showyaxis='true',
          tooltips='true', interactive='true',
          xAxisTickFormat="xAxisTickFormatFunction()",
          valueFormat="valueFormatFunction()",
          showValues="true",
          staggerLabels="true",
          margin='{left:70,top:70,bottom:170,right:125}')
          svg


    .col-md-4
      div.charts
        div.chart__title Definitions
        p Serious reactions include:
        ul
          li Death
          li Life-threatening
          li Hospitalization (initial or prolonged)
          li Emergency room visit without hospital admission
          li Disability or permanent damage
          li Congenital anomaly/birth defect
          li Required intervention to prevent permanent impairment or damage (devices)

footer.footer
  p
    small &copy; 2015 Anti-Epileptic Drug Search
    = ' | '
    a(href='/privacy/') Privacy
    = ' | '
    a(href='/terms/') Terms
